/*Caitlin Maillet
Lydia Belachew
This is the CSS file for the help desk
*/

/* On smaller screens, where height is less than 650px, change the style of the sidebar*/
@media screen and (max-height: 650px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }

  .wide {
    width: 250px;
  }
  .center {
    width: 500px;
    text-align: center;
  }
  .divider {
    width: 5px;
    height: auto;
    display: inline-block;
  }
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #2162cc; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar buttons */
.sidebar .sidebarBtn {
  width: 250px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  display: block;
  transition: 0.3s;
}

/* When you hover over the sidebar buttons, change their color */
.sidebar .sidebarBtn:hover {
  background-color: #0b106c;
  cursor: pointer;
  border-left-style: solid;
  border-left-color: white;
}

/* Position and style the close sidebar button*/
.sidebar .closeSideBarbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  transition: 0.3s;
  background-color: white;
  border-color: transparent;
}
/*When you hover over the sidebar close button, change the color*/
.sidebar .closeSideBarbtn:hover {
  background-color: red;
}
/* The button used to open the sidebar */
.openSideBarbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #2162cc;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 10px;
}
/*When you hover over the open sidebar button, change the color*/
.openSideBarbtn:hover {
  background-color: #0b106c;
}
/*confirmation button on main help page*/
.okayBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 10px;
}
/*When you hover over the okay button, change the color*/
.okayBtn:hover {
  background-color: gray;
}
/*Transition effect for main page content*/
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
