/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 650px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }

    .wide {
      width: 250px;
    }
    .center {
      width: 500px;
      text-align: center;
    }
    .divider {
      width: 5px;
      height: auto;
      display: inline-block;
    }
  }
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #2162cc; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar .sidebarBtn {
    width: 250px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar .sidebarBtn:hover {
    background-color: #0b106c;
    cursor: pointer;
    border-left-style: solid;
    border-left-color: white;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closeSideBarbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.3s;
    background-color: white;
    border-color: transparent;
  }

  .sidebar .closeSideBarbtn:hover {
    background-color: red;
  }
  /* The button used to open the sidebar */
  .openSideBarbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2162cc;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 10px;
  }
  
  .openSideBarbtn:hover {
    background-color: #0b106c;
  }
  .okayBtn{
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 10px;
  }
  .okayBtn:hover{
    background-color: gray;
  }
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
}
.container {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% auto;
    border: 1px solid black;
    margin: auto;
}

.logoDiv {
    background-color: #2162cc;
    color: white;
    font-size: 10em;
    display: flex;
}
.logoContainer {
    margin: auto;
}

.centerInnerDiv {
    display: flex;
    background-color: whitesmoke;
}

.innerContainer {
    margin: auto;
    height: fit-content;
    font-size: 2em;
}
.insideRow {
    display: flex;
    flex-direction: row;
}
.bigIcon {
    padding: 5px;
}

.hiddenDescription {
    display: none;
}
.row {
    border-bottom: 1px solid lightgrey;
}
.row:Hover .hiddenDescription {
    display: block;
}
.row:Hover {
    background-color: ghostwhite;
    cursor: pointer;
    border-left: 0.2em solid darkblue;
    font-weight: bold;
    color: darkblue;
}

.prompt {
    font-weight: bold;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: #2162cc;
    margin-bottom: 5px;
}

@media screen and (max-width: 650px) {
    .logoDiv {
        display: none;
    }
    .container {
        grid-template-columns: 100%;
        border: none;
    }
    body {
        background-color: whiteSmoke;
    }
}  

#main {
    transition: margin-left 0.5s; /* If you want a transition effect */
    padding: 20px;
  }