#innerContainer {
  display: flex;
  flex-direction: row;
}

#listOfEmails {
  width: 100%;
  align-self: stretch;
}

#menuOnTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: middle;
  border-bottom: 5px solid lightgrey;
  flex-wrap: wrap;
  position: sticky;
  top: 0%;
  background-color: white;
  z-index: 3;
}
#menuOnTop > div {
  margin: 0.5em;
}
#Navigation {
  padding-top: 10px;
  display: none;
  flex-direction: column;
  justify-items: flex-start;
  align-content: flex-start;
  background-color: #f0f0f0;
  width: 50%;
  transition: width 0.6s ease-out;
}
#closeButton {
  margin-right: 1em;
  border: 1px solid orangered;
  color: orangered;
  text-align: center;
  height: 4em;
  width: 5em;
  font-weight: bold;
  border-radius: 25%;
}
#closeButton:hover {
  background-color: orangered;
  color: white;
}
#closeButtonDiv {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: right;
}
#logOutButton:hover {
  cursor: pointer;
  background-color: red;
}
#NavigationContent {
  position: sticky;
  top: 20%;
}
.navigationButton {
  width: 100%;
  border: none;
  text-align: left;
  background-color: inherit;
  font-weight: 250;
}
.navigationButton:hover {
  background-color: #e6f2ff;
  color: black;
}
.navigationButton:click {
  background-color: #e6f2ff;
  font-weight: bold;
  color: navy;
}
.topButtonDiv {
  padding: 0.5em;
  margin: 1em;
  display: flex;
  flex-direction: row;
}
.topButton {
  height: 7em;
  width: 6em;
  font-size: 0.76em;
  padding: 0.5em;
  border-radius: 35%;
}
.hintSideBar {
  display: none;
  margin: auto;
}
.topButtonDiv:hover .hintSideBar {
  display: block;
}
